/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-discription {
    color: #757575;
    text-align: center;
    font-weight: 400;
}

/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}


/* banar section  */

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banar-container {
    max-width: 500px;
}

.banar {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banar-pic {
    width: 550px;
    height: 650px;
}

.banar-gitting {
    font-size: 45px;
    /* font-weight: 600; */
    color: #474747;
    margin-bottom: 0px;
}

.banar-title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
}

.banar-discription {
    color: #757575;
    margin-bottom: 20px;
}

/* main section */

main {
    max-width: 1140px;
    margin: 0px auto;
}

/* about section */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
}

.info-discription {
    color: #6b6a6a;
    font-size: 20px;
    font-weight: bold;
}

/* what i do section */
#shuvo {
    padding: 30px 150px;
}

.skills-contioner {
    display: flex;
    gap: 20px;
}

.skill-box {
    padding: 30px;
    
    border-radius: 5px;
    background: #613535;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}